snippet sc
	setClass("${1:Class}", slots = c(${2:name = "type"}))

snippet sg
	setGeneric("${1:generic}", function(${2:x, ...}) {
		standardGeneric("${1:generic}")
	})

snippet sm
	setMethod("${1:generic}", ${2:class}, function(${2:x, ...}) {
		${0}
	})

snippet s
	setMethod("${1:generic}", ${2:class}, function(${2:x, ...}) {
		${0}
	})
